/src/WebsiteTextExtractor.Console/obj
/src/WebsiteTextExtractor.Console/bin
/tests/WebsiteTextExtractor.Console.Tests/obj
/tests/WebsiteTextExtractor.Console.Tests/bin
/.vs
/tests/WebsiteTextExtractor.Core.Tests/bin
/tests/WebsiteTextExtractor.Core.Tests/obj
/src/WebsiteTextExtractor.Core/bin
/src/WebsiteTextExtractor.Core/obj
